{layout name="layout" /}
<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title b-0">友情链接</h4>

	<div class="listview list-container">
		<header class="listview-header media">

			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('links/add')}" title="添加链接" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

			</ul>

			<div class="clearfix"></div>
		</header>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">友情链接列表</div>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table  table-bordered table-hover">
								<tr>
									<th>ID</th>
									<th>标题</th>
									<th>网址</th>
									<th>联系人</th>
									<th>状态</th>
									<th>排序</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
								{volist name="linksRows" id="linkRow"}
								<tr>
									<td>{$linkRow->id}</td>
									<td>{$linkRow->title}</td>
									<td>{$linkRow->url}</td>
									<td>{$linkRow->linker}</td>
									<td>{$linkRow->status}</td>
									<td>{$linkRow->sort}</td>
									<td>{$linkRow->update_time}</td>
									<td>
										<a class="btn btn-xs btn-default" href="{:url('back/links/edit',['id'=>$linkRow['id']])}">编辑</a>
										<a class="btn btn-xs btn-default delete" href="{:url('back/links/destroy',['id'=>$linkRow['id']])}">删除</a>
									</td>
								</tr>
								{/volist}
							</table>
						</div>
					</div>
					<div class="panel-footer text-center">
						{$pages}
					</div>
				</div>
			</div>
		</div>

	</div>
</section>