{layout name="layout" /}
<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<form action="{:url('back/attr/edit',['aid'=>$attr['aid']])}" enctype="multipart/form-data" method="post">
		<h4 class="page-title">编辑属性</h4>
		<div class="block-area" id="text-input">
			<p>属性</p>
			<input class="form-control input-focused" name="attr_name" type="text" value="{$attr.attr_name}">

			<hr class="whiter m-t-20" />
		</div>
		<div class="block-area" id="button">
			<label class="btn btn-gr-gray btn-lg">
       <input type="submit" value="更新">
       </label>
		</div>
	</form>
</section>