<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>后台管理系统模板</title>
	<!-- CSS -->
<link rel="shortcut icon" href="{$Think.config.Houtai}favicon.ico" type="image/x-icon"/>
	<link href="{$Think.config.Houtai}css/
bootstrap.min.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
animate.min.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
font-awesome.min.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
form.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
calendar.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
style.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
icons.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}css/
generics.css" rel="stylesheet">
	
	<link href="{$Think.config.Houtai}js/bootstrap-datetimepicker/css/
bootstrap-datetimepicker.css" rel="stylesheet">
	<link href="{$Think.config.Houtai}js/bootstrap-datetimepicker/css/
bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body id="skin-blur-violate">
	<header id="header" class="media">
		<a href="" id="menu-toggle"></a>
		<a class="logo pull-left" href="{:url('index/index')}">后台管理系统</a>

		<div class="media-body">
			<div class="media" id="top-menu">
				<div class="pull-left tm-icon">
					<a class="drawer-toggle" href="{:url('index/logout')}">
						<i class="sa-top-updates"></i>
						<i class="n-count animated" id="tuichu">
                            退出</i>
						<span class="pull-right"></span>
					</a>
				</div>

				<div id="time" class="pull-right">
					<span id="hours"></span> :
					<span id="min"></span> :
					<span id="sec"></span>
				</div>

				<!-- <div class="media-body">
					<input type="text" class="main-search">
				</div> -->
			</div>
		</div>
	</header>

	<div class="clearfix"></div>

	<section id="main" class="p-relative" role="main">

		<!-- Sidebar -->
		<aside id="sidebar">

			<!-- Sidbar Widgets -->
			<div class="side-widgets overflow">

				<div class="text-center s-widget m-b-25 dropdown" id="profile-menu">
					<a href="" data-toggle="dropdown">
						{empty name="$user['head']"}
						<img class="profile-pic animated" src="{$Think.config.Houtai}img/
profile-pic.jpg" alt=""> {else /}<img class="profile-pic animated" src="{$user.head}" alt=""> {/empty}

					</a>
					<ul class="dropdown-menu profile-menu">
						<!-- <li>
							<a href="{:url('back/index/profile')}">个人信息</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>

						<li>
							<a href="{:url('back/index/proedit')}">修改信息</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li>
						<li>
							<a href="{:url('back/index/logout')}">注销登录</a> <i class="icon left">&#61903;</i><i class="icon right">&#61815;</i></li> -->
					</ul>
					<h4 class="m-0">欢迎登录:{$user.name}</h4>

				</div>

				<!-- Calendar -->
				<div class="s-widget m-b-25">
					<div id="sidebar-calendar"></div>
				</div>

				<!-- Feeds -->
				<div class="s-widget m-b-25">
					<!-- <h2 class="tile-title">
                        最新文章
                    </h2> -->

					<div class="s-widget-body">
						<div id="news-feed"></div>
					</div>
				</div>

				<!-- Projects -->
				<div class="s-widget m-b-25">
					<h2 class="tile-title">
                            Projects on going
                        </h2>
					<div class="s-widget-body">
						<div class="side-border">
							<small>Joomla Website</small>
							<div class="progress progress-small">
								<a href="#" data-toggle="tooltip" title="" class="progress-bar tooltips progress-bar-danger" style="width: 60%;" data-original-title="60%">
									<span class="sr-only">60% Complete</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Side Menu -->
			<ul class="list-unstyled side-menu">

				<li class="dropdown">
					<a class="sa-side-ui" href="#">
						<span class="menu-item">渠道统计</span>
					</a>
					<ul class="list-unstyled menu-item">
						<li>
							<a href="{$Think.config.Url}Channeldao/index">渠道统计列表</a>
						</li>
					</ul>
				</li>

				<li class="dropdown">
					<a class="sa-side-folder" href="#">
						<span class="menu-item">订单管理</span>
					</a>
					<ul class="list-unstyled menu-item">
						<li>
							<a href="{$Think.config.Url}Channeldao/search">渠道查询</a>
						</li>
					</ul>
				</li>
				<!-- {volist name="ruledata" id="rule"}
				<li class="dropdown">
					<a class="{$rule->class}" href="#">
						<span class="menu-item">{$rule->title}</span>
					</a>
					<ul class="list-unstyled menu-item">
						{volist name="$rule->parent" id="r"}
						<li>
							<a href="{$Think.config.Url}{$r->name}">{$r->title}</a>
						</li>
						
                       {/volist}
					</ul>
				</li>
				{/volist} -->
			
			</ul>

		</aside>

		<!-- Content -->
		{__CONTENT__}

	</section>
	{include file="public/js"/}

</body>

</html>
<script type="text/javascript">
	$("#tuichu").click(function() {
		window.location.href = "{:url('index/logout')}";
	})
</script>