{layout name="layout" /}
<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title b-0">焦点图列表</h4>

	<div class="listview list-container">
		<header class="listview-header media">

			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('back/focus/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</header>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">焦点图列表</div>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table  table-bordered table-hover">
								<tr>
									<th>ID</th>
									<th>所属</th>
									<th>标题</th>
									<th>地址</th>
									<th>是否可用</th>
									<th>排序</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
								{volist name="focusRows" id="focusRow"}
								<tr>
									<td>{$focusRow->id}</td>
									<td>{$focusRow->position->name}</td>
									<td>{$focusRow->title}</td>
									<td>{$focusRow->url}</td>
									<td>{$focusRow->status}</td>
									<td>{$focusRow->sort}</td>
									<td>{$focusRow->update_time}</td>
									<td>
										<a class="btn btn-xs btn-default" href="{:url('back/focus/edit',['id'=>$focusRow['id']])}">编辑</a>
										<a class="btn btn-xs btn-default delete" href="{:url('back/focus/destroy',['id'=>$focusRow['id']])}">删除</a>
									</td>
								</tr>
								{/volist}
							</table>
						</div>
					</div>
					<div class="panel-footer">
						{$pages}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>