{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title">jifen-2017/10</h4>

	<!-- Shortcuts -->
	<div class="block-area ">
		<div class="row">
				<div class="col-md-9">
					<div class="tile-light p-5 m-b-15">
		                <div class="cover p-relative">
		                    <img src="{$Think.config.Houtai}img/cover-bg.jpg" class="w-100" alt="">
		                    <img class="profile-pic" src="{$Think.config.Houtai}img/profile-pic.jpg" alt="">
		                
		                </div>
		                <div class="p-5 m-t-15">
		                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget risus rhoncus, cursus purus vitae, venenatis eros. Phasellus at tincidunt risus. Integer sed massa fermentum, feugiat arcu quis, ultrices nisi. Quisque commodo nisi scelerisque, tempus diam ac, dignissim tellus. Mauris adipiscing elit tortor, dignissim auctor diam mollis sed. Nulla eu dui non velit accumsan scelerisque eget et felis.
		                </div>
		            </div>
				</div>
				<div class="col-md-3">
					<div class="tile">
		                <h2 class="tile-title">Power By jf</h2>                               
		                <div class="listview icon-list">

		                    
		                    <div class="media">
		                        <i class="icon pull-left"></i>
		                        <div class="media-body">QQ:843150233</div>
		                    </div>
		                    
		                    <div class="media">
		                        <i class="icon pull-left"></i>
		                        <div class="media-body">Lives in beijing,china</div>
		                    </div>
							 <div class="media">
		                        <i class="icon pull-left"></i>
		                        <div class="media-body">QQ:843150233</div>
		                    </div>
		                    
		                    <div class="media">
		                        <i class="icon pull-left"></i>
		                        <div class="media-body">Lives in beijing,china</div>
		                    </div>

		                </div>
		            </div>
				</div>
		
		</div>
	</div>


	<hr class="whiter" />

	<div class="block-area" style="display: none;">
		<div class="row">
			<div class="col-md-7">
				<!--  Recent Postings -->
				<div class="row">
					<div class="col-md-6">
						<div class="tile">
							<h2 class="tile-title">最近发表</h2>
							<div class="listview narrow">
								<div class="media p-l-5">
									<div class="pull-left">
										<img width="40" src="{$Think.config.Houtai}img/profile-pics/1.jpg" alt="">
									</div>
									<div class="media-body">
										<small class="text-muted">最新的文章什么的，自己写调用</small><br/>
										<a class="t-overflow" href="">那女孩对我说，要我保护她的梦</a>
									</div>
								</div>
								<div class="media p-l-5">
									<div class="pull-left">
										<img width="40" src="{$Think.config.Houtai}img/profile-pics/1.jpg" alt="">
									</div>
									<div class="media-body">
										<small class="text-muted">最新的文章什么的，自己写调用</small><br/>
										<a class="t-overflow" href="">那女孩对我说，要我保护她的梦</a>
									</div>
								</div>
								<div class="media p-l-5">
									<div class="pull-left">
										<img width="40" src="{$Think.config.Houtai}img/profile-pics/1.jpg" alt="">
									</div>
									<div class="media-body">
										<small class="text-muted">最新的文章什么的，自己写调用</small><br/>
										<a class="t-overflow" href="">那女孩对我说，要我保护她的梦</a>
									</div>
								</div>

								<div class="media p-5 text-center l-100">
									<a href=""><small>查看所有</small></a>
								</div>
							</div>
						</div>
					</div>

					
					
					
					<!-- Tasks to do -->
					<div class="col-md-6">
						<div class="tile">
							<h2 class="tile-title">仔细你就看到了这里</h2>

							<div class="listview todo-list ">
								<div class="media">
									<label class="t-overflow">             
                                                       觉得这个后台主题好的，加小主QQ:2351976426,我拉你进群自己下载这个后台主题模板。
                                   </label>
								</div>
							</div>
							<h2 class="tile-title">仔细你就看到了这里</h2>
							<div class="listview todo-list ">
								<div class="media">
									<label class="t-overflow">             
                                                       觉得这个后台主题好的，加小主QQ:2351976426,我拉你进群自己下载这个后台主题模板。
                                   </label>
								</div>
							</div>
							<h2 class="tile-title">仔细你就看到了这里</h2>
							<div class="listview todo-list ">
								<div class="media">
									<label class="t-overflow">             
                                                       觉得这个后台主题好的，加小主QQ:2351976426,我拉你进群自己下载这个后台主题模板。
                                   </label>
								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="col-md-5">
				<!-- Activity -->
				<div class="tile">
                    <h2 class="tile-title m-b-5">需要更炫主题加QQ:2351976426</h2>

                    
                    <div class="p-10 news">
                        <div class="col-xs-4">
                            <div class="tile p-5 m-b-10">
                                <a target="_blank" title="Medical-Pro Bootstrap Responsive Template" href="#">
                                    <img class="w-100" src="{$Think.config.Houtai}img/projects/1.png" alt="">
                                    <small class="t-overflow m-t-10">认真是一种态度</small>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="tile p-5 m-b-10">
                                <a target="_blank" title="Black Pearl Responsive Admin Template" href="#">
                                    <img class="w-100" src="{$Think.config.Houtai}img/projects/2.png" alt="">
                                    <small class="t-overflow m-t-10">坚持是一种品格</small>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="tile p-5 m-b-10">
                                <a target="_blank" title="UNEKUE Single Page Portfolio Template" href="#">
                                    <img class="w-100" src="{$Think.config.Houtai}img/projects/3.png" alt="">
                                    <small class="t-overflow m-t-10">优秀是一种习惯</small>
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
			</div>
			
			<div class="clearfix"></div>
			
			
			
		</div>
	</div>
	
			
			
	<hr class="whiter" />
	
	<div class="block-area" style="display: none;">
        <h3 class="block-title">QQ:2351976426</h3>
        <p>后台首页自己去写页面。自己咋喜欢咋样搞！.</p>
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
          
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="{$Think.config.Houtai}img/carousel/c-1.jpg" alt="Slide-1">
					  <div class="carousel-caption hidden-xs">
                        <h3>技术探讨交流加QQ:2351976426</h3>
                        <p>重要的事说三遍</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{$Think.config.Houtai}img/carousel/c-2.jpg" alt="Slide-2">
                    <div class="carousel-caption hidden-xs">
                        <h3>技术探讨交流QQ:2351976426</h3>
                        <p>重要的事说三遍</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{$Think.config.Houtai}img/carousel/c-3.jpg" alt="Slide-3">
                    <div class="carousel-caption hidden-xs">
                        <h3>技术探讨交流QQ:2351976426</h3>
                        <p>重要的事说三遍</p>
                    </div>
                </div>
            </div>
          
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <i class="icon"></i>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <i class="icon"></i>
            </a>
        </div>
    </div>

</section>