{layout name="layout" /}
<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}

	<h4 class="page-title">添加渠道</h4>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">渠道添加</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-12">
							<form action="{:url('back/channeldao/add')}" class="form-horizontal ajax-form" method="post">
								<div class="form-group">
									<label for="inputTitle" class="col-sm-1 control-label">渠道号</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="channel_num" id="channel_num" placeholder="渠道号">
									</div>
								</div>

								<div class="form-group">
									<label for="inputkeyword" class="col-sm-1 control-label">渠道名称</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="channel_name" id="channel_name" placeholder="渠道名称">
									</div>
								</div>
								<div class="form-group">
									<label for="inputkeyword" class="col-sm-1 control-label">包名</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="package_name" id="package_name" placeholder="包名">
									</div>
								</div>
								<div class="form-group">
									<label for="inputkeyword" class="col-sm-1 control-label">联系方式</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="contect_type" id="contect_type" placeholder="联系方式">
									</div>
								</div>
								<div class="form-group">
									<label for="inputkeyword" class="col-sm-1 control-label">联系人</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="contect_per" id="contect_per" placeholder="联系人">
									</div>
								</div>

								<div class="form-group">
									<label for="inputkeyword" class="col-sm-1 control-label">备注</label>
									<div class="col-sm-11">
										<textarea name="beizhu" class="form-control"></textarea>
									</div>
								</div>
								<div class="block-area" id="button">
									<label class="btn btn-gr-gray btn-lg ">
                    				<input type="submit" value="添加">
                        			</label>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>