{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title b-0">短信详情</h4>

	<div class="listview list-container">
		<header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<!-- <li>
					<a data-toggle="modal" href="{:url('back/channeldao/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>新增渠道
					</a>
				</li>
				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li> -->
			</ul>
			<div class="clearfix"></div>
		</header>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">短信详情</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
									
							</div>
						</div>
						<form action="{:url('back/channeldao/search')}" enctype="multipart/form-data" class="form-horizontal ajax-form" method="post">
							<div class="table-responsive">
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">渠道ID</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="channel_num" value="{$datainfo.channel_num}" id="inputname" placeholder="渠道ID">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">商品</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="goods_name" value="{$datainfo.goods_name}" id="inputname" placeholder="商品">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">订单号</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="order_id" value="{$datainfo.order_id}" id="inputname" placeholder="订单号">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">手机号</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="user_phone" value="{$datainfo.user_phone}" id="inputname" placeholder="手机号">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">状态</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="draw_status" {switch name="datainfo.draw_status"}
											    {case value="1"}value="成功"{/case}
											    {case value="2"}value="失败"{/case}
											    {case value="3"}value="积分不足"{/case}
											    {case value="4"}value="异常"{/case}
										{/switch} id="inputname" placeholder="状态">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">消耗积分</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" name="reduce_integral" value="{$datainfo.reduce_integral}" id="inputname" placeholder="消耗积分">
									</div>
								</div>
								
							</div>
						</form>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">
									
							</div>
						</div>
						<div class="table-responsive">
							<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">首条上行短信</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="draw_messageone" value="{$datainfo.draw_messageone}" id="inputname" placeholder="首条上行短信">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">首条下行短信</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="draw_messagetwo" value="{$datainfo.draw_messagetwo}" id="inputname" placeholder="首条下行短信">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">第二条上行短信</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="draw_messagethree" value="{$datainfo.draw_messagethree}" id="inputname" placeholder="第二条上行短信">
									</div>
								</div>
								<hr class="whiter m-t-10" />
								<div class="form-group">
									<label for="inputname" class="col-sm-1 control-label">第二条下行短信</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" name="draw_messagefour" value="{$datainfo.draw_messagefour}" id="inputname" placeholder="第二条下行短信">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>