{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title b-0">短信详情</h4>

	<div class="listview list-container">
		<header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<!-- <li>
					<a data-toggle="modal" href="{:url('back/channeldao/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>新增渠道
					</a>
				</li>
				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li> -->
			</ul>
			<div class="clearfix"></div>
		</header>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">短信详情</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-12">

							</div>
						</div>
						<div class="table-responsive">
							<table class="table  table-bordered table-hover">
								<tr>
									<th>序号</th>
									<th>渠道号</th>
									<th>商品</th>
									<th>订单号</th>
									<th>手机号</th>
									<th>状态</th>
									<th>消耗积分</th>
									<th>添加时间</th>
									<th>首条上行短信</th>
									<th>首条下行短信</th>
									<th>第二条上行短信</th>
									<th>第二条下行短信</th>
								</tr>

								{volist name="datainfo" id="datainfo"}
								<tr>
									<td>
										{$datainfo['id']}
									</td>
									<td>{$datainfo['channel_num']}</td>
									<td>{$datainfo['goods_name']}</td>
									<td>{$datainfo['order_id']}</td>
									<td>{$datainfo['user_phone']}</td>
									<td>{$datainfo['draw_status']}</td>
									<td>{$datainfo['reduce_integral']}</td>
									<td>{$datainfo['create_time']}</td>
									<td>{$datainfo['draw_messageone']}</td>
									<td>{$datainfo['draw_messagetwo']}</td>
									<td>{$datainfo['draw_messagethree']}</td>
									<td>{$datainfo['draw_messagefour']}</td>
								</tr>
								{/volist}
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>