      <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="{$Think.config.Houtai}js/jquery.min.js"></script> <!-- jQuery Library -->
        
        <!-- Bootstrap -->
        <script src="{$Think.config.Houtai}js/bootstrap.min.js"></script>
        
        <!--  Form Related -->
        <script src="{$Think.config.Houtai}js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
        
        <!-- UX -->
        <script src="{$Think.config.Houtai}js/scroll.min.js"></script> <!-- Custom Scrollbar -->
          <script src="{$Think.config.Houtai}js/fileupload.min.js"></script> <!-- File Upload -->
        <!-- Other -->
        <script src="{$Think.config.Houtai}js/calendar.min.js"></script> <!-- Calendar -->
        <script src="{$Think.config.Houtai}js/feeds.min.js"></script> <!-- News Feeds -->
        
        
        <!-- All JS functions -->
        <script src="{$Think.config.Houtai}js/functions.js"></script>

        <!--add -->
        <script src="{$Think.config.Houtai}js/moment/moment.min.js"></script>
        
        <script src="{$Think.config.Houtai}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script src="{$Think.config.Houtai}js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

        <script src="{$Think.config.Houtai}js/moment/locales.min.js"></script>
        <script src="{$Think.config.Houtai}js/moment/moment-with-locales.js"></script>
        
        
       